@page
@model Website.Pages.DinoDinerMenuModel
@{
    ViewData["Title"] = "DinoDinerMenu";
}

<h1>Menu</h1>

<div id="menu-grid">
    <h2> Combos </h2>
    <div class="flex-container-card">
        @foreach (DinoDiner.Menu.IMenuItem item in @Model.Combos)
        {
            <li class="card">
                <div class="inside-top">
                    @item.ToString()
                </div>
                <div class="inside-bottom">
                    <div class="item-description">
                        <p>
                            <i>
                                @string.Join(", ", item.Ingredients)
                            </i>
                        </p>
                        <p>Price: $@item.Price</p>
                        <p>Calories: @item.Calories</p>
                    </div>
                </div>
            </li>
        }
    </div>
    <h2> Entrees </h2>
    <div class="flex-container">
        @foreach (DinoDiner.Menu.IMenuItem item in Model.Entrees)
        {
            <li class="card">
                <div class="inside-top">
                    @item.ToString()
                </div>
                <div class="inside-bottom">
                    <div class="item-description">
                        <p>
                            <i>
                                @string.Join(", ", item.Ingredients)
                            </i>
                        </p>
                        <p>Price: $@item.Price</p>
                        <p>Calories: @item.Calories</p>
                    </div>
                </div>
            </li>
        }
    </div>
    <h2> Sides </h2>
    <div class="flex-container">
        @foreach (DinoDiner.Menu.IMenuItem item in Model.Sides)
        {
            <li class="card">
                <div class="inside-top">
                    @item.GetType().Name
                </div>
                <div class="inside-bottom">
                    <div class="item-description">
                        <p>
                            <i>
                                @string.Join(", ", item.Ingredients)
                            </i>
                        </p>
                        <p>Price: $@item.Price</p>
                        <p>Calories: @item.Calories</p>
                    </div>
                </div>
            </li>
        }
    </div>
    <h2> Drinks </h2>
    <div class="flex-container">
        @foreach (DinoDiner.Menu.IMenuItem item in Model.Drinks)
        {
            <li class="card">
                <div class="inside-top">
                    @item.GetType().Name
                </div>
                <div class="inside-bottom">
                    <div class="item-description">
                        <p>
                            <i>
                                @string.Join(", ", item.Ingredients)
                            </i>
                        </p>
                        <p>Price: $@item.Price</p>
                        <p>Calories: @item.Calories</p>
                    </div>
                </div>
            </li>
        }
    </div>
</div>
