@page
@model Website.Pages.DinoDinerMenuModel
@{
    ViewData["Title"] = "DinoDinerMenu";
}

<h1>Menu</h1>


<div class="menu-container">

    <div id="menu-grid">
        <h2> Combos </h2>
        <ol class="flex-container-card">
            @foreach (DinoDiner.Menu.IMenuItem item in @Model.Combos)
            {
                <li class="card">
                    <div class="inside-top">
                        @item.ToString()
                    </div>
                    <div class="inside-bottom">
                        <div class="item-description">
                            <p>
                                <i>
                                    @string.Join(", ", item.Ingredients)
                                </i>
                            </p>
                            <p>Price: $@item.Price</p>
                            <p>Calories: @item.Calories</p>
                        </div>
                    </div>
                </li>
            }
        </ol>
        <h2> Entrees </h2>
        <ol class="flex-container">
            @foreach (DinoDiner.Menu.IMenuItem item in Model.Entrees)
            {
                <li class="card">
                    <div class="inside-top">
                        @item.ToString()
                    </div>
                    <div class="inside-bottom">
                        <div class="item-description">
                            <p>
                                <i>
                                    @string.Join(", ", item.Ingredients)
                                </i>
                            </p>
                            <p>Price: $@item.Price</p>
                            <p>Calories: @item.Calories</p>
                        </div>
                    </div>
                </li>
            }
        </ol>
        <h2> Sides </h2>
        <ol class="flex-container">
            @foreach (DinoDiner.Menu.IMenuItem item in Model.Sides)
            {
                <li class="card">
                    <div class="inside-top">
                        @item.ToString()
                    </div>
                    <div class="inside-bottom">
                        <div class="item-description">
                            <p>
                                <i>
                                    @string.Join(", ", item.Ingredients)
                                </i>
                            </p>
                            <p>Price: $@item.Price</p>
                            <p>Calories: @item.Calories</p>
                        </div>
                    </div>
                </li>
            }
        </ol>
        <h2> Drinks </h2>
        <ol class="flex-container">
            @foreach (DinoDiner.Menu.IMenuItem item in Model.Drinks)
            {
                <li class="card">
                    <div class="inside-top">
                        @item.ToString()
                    </div>
                    <div class="inside-bottom">
                        <div class="item-description">
                            <p>
                                <i>
                                    @string.Join(", ", item.Ingredients)
                                </i>
                            </p>
                            <p>Price: $@item.Price</p>
                            <p>Calories: @item.Calories</p>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>


    <form class="form" method="post">

        <h4>Search</h4>
        <input type="text" name="search" />
        <input type="submit" value="Search" />

        <input type="submit" value="Apply Filter(s)" />

        <h4>Menu Category</h4>
        <label>
            <input type="checkbox" value="combo" name="category" checked="@Model.category.Contains("combo")" />
            Combo
        </label>
        <label>
            <input type="checkbox" value="entree" name="category" checked="@Model.category.Contains("entree")" />
            Entree
        </label>
        <label>
            <input type="checkbox" value="side" name="category" checked="@Model.category.Contains("side")" />
            Side
        </label>
        <label>
            <input type="checkbox" value="drink" name="category" checked="@Model.category.Contains("drink")" />
            Drink
        </label>

        <h4>Price</h4>
        <label>
            Minimum Price:
            <input id="minimum-price" type="number" min="0" max="20" step="0.01" name="minimumPrice" value="@Model.minimumPrice" />
        </label>
        <label>
            Maxiumum Price:
            <input id="maximum-price" type="number" min="0" max="20" step="0.01" name="maximumPrice" value="@Model.maximumPrice"/>
        </label>

        <h4>Excluding Ingredients</h4>
        @foreach (string str in Model.ingredients)
        {
            <label>
                <input type="checkbox" value="@str" name="excludedIngredients" checked="@Model.excludedIngredients.Contains(@str)" />
                @str
            </label>
        }


    </form>

</div>